.movie-card {
    /* border: 1px solid red; */
    display: flex;
    margin: 30px 10px;
    width: 30%;
    min-width: 360px;
    flex-direction: column;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* rounded corners */
    background: rgb(240, 240, 240);
    justify-content: space-between;
}

.movie-card-top img {
    height: auto;
    width: 40%;
    padding-bottom: 25%;
}

.movie-card-top .default-icon {
    height: auto;
    width: 10%;
    padding: 5px;
    background-color: #4b545c;
}

.movie-card-top {
    /* border: 1px solid black; */
    display: flex;
    min-width: 360px;
}

.movie-card-top .movie-card-details {
    padding: 5px;
}

.movie-card-top h5 {
    text-align: center;
}

.movie-card-top h6 {
    font-size: .8em;
    font-weight: bold;
    text-align: center;

}

.movie-card-top p {
    font-size: .85em;
}


.movie-card .watchlist-button{
    text-align: center;
}

@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .movie-card-top p {
        font-size: .75em;
    }
    .movie-card-top img {
        padding-bottom: 15%;
    }
}

@media (max-width: 725px) {
/* CSS that should be displayed if width is equal to or less than 725px goes here */
    .movie-card-top p {
    font-size: .70em;
    }
    .movie-card-top img {
    padding-bottom: 10%;
    }
}