.watchlist-card {
    /* border: 1px solid red; */
    display: flex;
    margin: 30px 10px;
    width: 30%;
    min-width: 360px;
    flex-direction: column;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* rounded corners */
    background: rgb(240, 240, 240);
    justify-content: space-between;
    text-align: center;
}

.watchlist-card h4 {
    margin: 10px;
}

.watchlist-card p {
    font-size: .9em;
    margin: 2px;
    padding: 2px 10px;
}
.watchlist-posters {
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    margin: 5px;
}

.watchlist-poster {
    width: 30%;
    height: auto;
}

.watchlist-buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.watchlist-buttons button {
    margin: 3px;
}
