.watchlist-content {
    text-align: center;
}

.watchlist-list {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
    margin: 15px;
}

