.watchlist-card {
    /* border: 1px solid red; */
    display: flex;
    margin: 30px 10px;
    width: 30%;
    min-width: 360px;
    flex-direction: column;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* rounded corners */
    background: rgb(240, 240, 240);
    justify-content: space-between;
    text-align: center;
}

.watchlist-card h4 {
    margin: 10px;
}

.watchlist-card p {
    font-size: .9em;
    margin-bottom: 0;
    padding: 5px 10px;
}