.detail-card {
    display: flex;
    margin: 5px 5px;
    /* width: 80%; */
    min-width: 360px;
    max-width: 825px;
    flex-direction: column;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* rounded corners */
    background: rgb(240, 240, 240);
    justify-content: space-between;
}

.detail-card-top img {
    height: auto;
    width: 40%;
}

.detail-card-top .default-icon {
    height: auto;
    width: 10%;
    padding: 5px;
    background-color: #4b545c;
    margin: 0;
}

.detail-card-top {
    display: flex;
    min-width: 360px;
    margin: 0;
    padding: 0;

}

.detail-card-details {
    margin: 2px;
}

.detail-card-top h3 {
    text-align: center;
}


.detail-card-top p {
    margin: 10px;
    padding: 5px;
}

.detail-card-top .year-runtime {
    display: flex;
    justify-content: space-between;
    font-size: .85em;
    font-weight: bold;
}

.detail-card-top .synopsis {
    padding: 10px;
}

.detail-card .comments {
    border: 1px solid #656f78;
    background-color: #656f78;
    /* color: rgb(233, 230, 230); */
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 15px 5px 25px;
    font-size: .9em;
    text-align: center;
}

.detail-card .empty-comments {
    padding: 5px;
    margin: 15px 5px 25px;
}

.detail-card-bottom {
    display: flex;
    justify-content: center;
}

.detail-card-bottom .dropdown{
    display: inline-block;
}


@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .detail-card-top .synopsis {
        font-size: .75em;
    }
    .detail-card-top .year-runtime {
        font-size: .70em;
    }
    .detail-card-top img {
        padding-bottom: 10%;
    }
    .detail-card .comments {
        font-size: .8em;
    }
}

@media (max-width: 725px) {
/* CSS that should be displayed if width is equal to or less than 725px goes here */
    .detail-card-top .synopsis {
    font-size: .70em;
    }
    .detail-card-top .year-runtime {
        font-size: .65em;
    }
    .detail-card-top img {
    padding-bottom: 5%;
    }
    .detail-card-top h3 {
        font-size: 1.2em;
    }
    .detail-card .comments {
        font-size: .7em;
    }
}