.watchlist-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-list {
    display: block;
}

.watchlist-detail-container header {
    text-align: center;
}
