body {
    background-color: #e9ecef;
}

h1 {
    text-align: center;
    margin: 25px;
}

form {
    padding: 5px;   
}

form h4 {
    text-align: center;
    margin-bottom: 10px;
}

form .form-buttons {
    text-align: center;
}


