#app-footer {
    /* keep footer at the bottom of the page */
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.tmbd-credit {
    display: flex;  
    align-items: center;
    margin: 10px;
}

.tmbd-text {
    display: flex;  
    flex-direction: column; 
    margin: 0 20px;
}


#tmbd-logo {
   height: 45px;
}

.tmbd-credit p {
    font-size: .7em;
    width: 190px;
    margin: 5px 0;
}

.tmbd-credit a {
    font-size: .75em;
}
