@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh; /* will cover the 100% of viewport. Prevents footer from being
  in the middle of the screen if there isn't enough content to cover the viewport */
  display: block;
  position: relative;
  padding-bottom: 80px; /* height of footer. Prevents footer from covering content */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


