#login-form {
    padding: 10px;
}

#login-form button {
    margin: 10px;
}

.welcome-header {
    margin: 50px;
}

.welcome-view {
    margin-bottom: 0;
    padding-bottom: 0;
}

.jumbotron h1 {
    margin-bottom: 17px;
}